schemas/whatsapp_data.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://whatsapp.clone/data"
           xmlns:tns="http://whatsapp.clone/data"
           elementFormDefault="qualified">

    <xs:element name="whatsapp_data">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="users" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="user" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="email" type="xs:string"/>
                                        <xs:element name="status" type="xs:string"/>
                                        <xs:element name="settings" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="theme" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="notifications" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="language" type="xs:string" minOccurs="0"/>
                                                    <xs:element name="password_hash" type="xs:string" minOccurs="0"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="contacts" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="contact" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="user_id" type="xs:string"/>
                                        <xs:element name="contact_user_id" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="groups" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="group" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string"/>
                                        <xs:element name="description" type="xs:string" minOccurs="0"/>
                                        <xs:element name="members" minOccurs="0">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="member" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:attribute name="user_id" type="xs:string" use="required"/>
                                                            <xs:attribute name="role" type="xs:string" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="messages" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="message" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="content" type="xs:string"/>
                                        <xs:element name="type" type="xs:string"/>
                                        <xs:element name="timestamp" type="xs:string"/>
                                        <xs:element name="status" type="xs:string"/>
                                        <xs:element name="from_user" type="xs:string"/>
                                        <xs:element name="to_user" type="xs:string" minOccurs="0"/>
                                        <xs:element name="to_group" type="xs:string" minOccurs="0"/>
                                        <xs:element name="file_path" type="xs:string" minOccurs="0"/>
                                        <xs:element name="file_name" type="xs:string" minOccurs="0"/>
                                        <xs:element name="file_size" type="xs:long" minOccurs="0"/>
                                    </xs:sequence>
                                    <xs:attribute name="id" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>